.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 400px;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #374151;
  margin-bottom: 40px;
}
